html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5em;
  min-height: 100%;
  min-width: 100%;
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  /* background: no-repeat url(/assets/bg.jpg);
  background-size: 100%; */
}
h1 {
  padding: 10px;
  font-size: 1.8rem;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  line-height: 1.5rem;
  padding: 5px;

  width: 100%;
  height: 100%;
  background: no-repeat url(./assets/bg.jpg);
  background-size: cover;
}
.ancient__cards {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.card {
  cursor: pointer;
  border: solid 3px rgb(72, 221, 27);
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 15px;
  align-self: center;
  min-width: 280px;
  min-height: 380px;
}
.selected__card {
  border: solid 5px rgba(226, 21, 21, 0.9);
}
.level__select {
  width: 30%;
}
.cthulhu {
  background: no-repeat url("/assets/Ancients/Cthulthu.png");
  background-size: cover;
}

.azathoth {
  background: no-repeat url("/assets/Ancients/Azathoth.png");
  background-size: cover;
}
.shubNiggurath {
  background: no-repeat url("/assets/Ancients/ShubNiggurath.png");
  background-size: cover;
}
.iogSothoth {
  background: no-repeat url("/assets/Ancients/IogSothoth.png");
  background-size: cover;
}
.unselect {
  list-style-type: none;
  margin-bottom: 40px;
  border: solid 3px;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  background: rgba(226, 23, 15, 0.6);
}
.selected__level {
  background: rgba(22, 209, 16, 0.6);
}
.especially {
  margin-top: 30px;
  border: solid 5px;
  border-radius: 15px;
  padding: 10px;
  background: rgba(217, 42, 100, 0.7);
  color: rgba(226, 207, 30, 0.8);
  text-align: center;
}
.level__game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.card__mix {
  width: 30%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card__set {
  padding: 5px;
  width: 100%;
  /* border: solid 2px; */
}
.counter__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: 100%;
}
.stage > p {
  margin: 10px auto;
  text-align: center;
  padding: 5px 0;
}
.button__mix,
.shirt__cards {
  cursor: pointer;
}

.button__mix {
  width: 250px;
  height: 70px;
  line-height: 2rem;
  padding: 5px;
  border: solid 5px rgba(226, 207, 30, 0.8);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(48, 7, 114, 0.5);
  text-align: center;
}
.shirt__cards {
  background: no-repeat url("/assets/mythicCardBackground.png");
  background-size: cover;
  border: none;
  width: 240px;
  height: 310px;
  margin-top: 5px;
}
.show__cards {
  background: no-repeat;
  background-size: cover;
  border: solid 1px;
  width: 240px;
  height: 310px;
  margin-top: 5px;
  /* border: none; */
}
.circle {
  display: inline-block;
  /* background-color: red; */
  width: 80px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  box-sizing: content-box;
}
.green__circle {
  background-color: rgba(0, 128, 0, 0.8);
  margin-right: 20px;
}
.blue__circle {
  background-color: rgba(0, 0, 255, 0.8);
}
.brown__circle {
  background-color: rgba(165, 42, 42, 0.8);
  margin-right: 20px;
}
.visibilaty__no {
  /* display: none; */
  visibility: hidden;
}
.visibility__yes {
  display: block;
}
